.css-selector {
  background-size: 1500px 1500px;
  background-image: url(./../imagenes/triangulo.png);
  background-repeat: no-repeat;
  background-position: center;


  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:88% 25%}
  50%{background-position:20% 90%}
  100%{background-position:88% 25%}
}
@-moz-keyframes AnimationName {
  0%{background-position:88% 25%}
  50%{background-position:20% 90%}
  100%{background-position:88% 25%}
}
@keyframes AnimationName {
  0%{background-position:88% 25%}
  50%{background-position:20% 90%}
  100%{background-position:88% 25%}
}
